.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 2px solid #E0E0E0;
}

@media screen and (min-width: 1280px) {
    
    .header {
        justify-content: flex-start;
        height: 160px;
        border: none;
    }
}