/* .container {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 704px;
    }
    
}

@media screen and (min-width: 1280px) {

    .container {
        width: 608px;
    }
    
} */