.calculateForm {
  padding-bottom: 100px;
}

.formInput {
  width: 240px;
  padding-bottom: 10px;
  margin-bottom: 32px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.bloodTitle {
  text-align: left;
  color: #9b9faa;
  margin: 0;
  margin-bottom: 10px;
}


.row {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.radioLabel {
  display: flex;
  align-items: baseline;
}

.inputRadio {
  height: 1px;
  width: 1px;
  outline: none;
}

.radio {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 20px;
  width: 20px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #E0E0E0
}

.radio::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.radioMessage {
  margin-left: 10px;
  color:#9B9FAA;
}

.inputRadio:checked + .radio::before {
  background-color: #FC842D;
}

.inputRadio:checked ~ .radioMessage {
  color: #FC842D;
}

.submitBtn {
  display: block;
  padding: 13px 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #fc842d;
  color: #ffffff;
  border-radius: 30px;
  border: transparent;
  box-shadow: 0px 4px 10px 0px #fc842d80;
}

@media screen and (min-width: 768px) {

  .calculateForm {
    padding-bottom: 400px;
  }

  .inputWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 10px;
    height: 280px;
    width: 530px;
  }

  .formInput {
    margin-bottom: 59px;
  }

  .submitBtn {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {

  .calculateForm {
    padding-bottom: 80px;
  }

  .submitBtn {
    margin-left: auto;
  }
}
