.form {
    position: relative;
    padding-top: 60px;
    /* padding-bottom: 60px; */
}

.input {
    font-size: 14px;
    font-weight: 700;
    color: #9B9FAA;
    width: 240px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid #e0e0e0; */
    border-bottom: 1px solid #9B9FAA;

}

.input:not(:last-child) {
    margin-bottom: 32px;
}

.autocomplete {
    position: absolute;
    left: 0;
    top: 110px;
    width: 100%;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 999;
    max-height: 240px;
    overflow: auto;
}

.autocompleteItem {
    padding: 10px;
}

.autocompleteItem:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

.addButton {
    background-color: #FC842D;
    min-width: 176px;
    height: 44px;
    border-radius: 30px;
    border: transparent;
    color:#FFFFFF;
    box-shadow: 0px 4px 10px 0px #FC842D80;
}

@media screen and (min-width: 768px) {   

    .input:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .productInput {
        width: 240px;
    }

    .gramsInput {
        width: 106px;
    }

    .srOnly {
        position: absolute;
        clip: rect(0 0 0 0);
        height: 0;
        margin: 0;
        padding: 0;
    }

    .addButton {
        height: 48px;
        min-width: 48px;
        border-radius: 50%;
        background-image: url('images/add.svg');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}